.tabs ul li.setfable {
    display: flex;
    flex-flow: row;
}

.tabs ul li.setfable .reader {
    padding-right: 0.2em;
    flex: 1 1 auto;
}

.tabs ul li.setfable .writer {
    padding-left: 0.2em;
    flex: none;
}

.tabs ul li.setfable .writer:where(:not(:is(:hover, :focus))) {
    opacity: 0.6;
}
